# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporal
/public/alexandria.json
/public/alexandria_full.json
/public/alexandria_final.json
/public/limpiador2.py
/public/limpiador.py
/public/complete-books.js
/src/data/alexandria_full.json