.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 10rem;
  width: 100%;
}

.homepage h1{
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.homepage p{
  column-count: 2;
  column-width: auto;
  /* column-rule: solid 1px;
  column-rule-color: var(--green); */
  column-gap: 2rem;
  text-align: justify;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.homepage hr{
  border-top: 1px dotted var(--green);
  border-bottom: none;
  width: 90%;
  opacity: 1;
}

.homepage .top-books h1 {
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
}

.homepage .top-books p{
  column-count: 1;
  column-width: auto;
  padding: 0px;
}