.HomePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.HomePage h1{
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.HomePage p{
  column-count: 2;
  column-width: auto;
  /* column-rule: solid 1px;
  column-rule-color: var(--green); */
  column-gap: 2rem;
  text-align: justify;
  margin-top: 1.5rem;
}

hr{
  border-top: 1px dotted var(--green);
  border-bottom: none;
  width: 90%;
  opacity: 1;
}