.bookmark{
  display: block;
  position: relative;
  /* width: 120px;
  height: 180px; */
  background-color: rgba(15, 15, 214, 0.2);
}

.bookmark i{
  position: absolute;
  top: -185px;
  right: 8px;
  color: var(--green);
  font-size: 2rem;
  z-index: 5;
}

.bookmark i:hover{
  color: var(--aubergine);
  cursor: pointer;
}

.marked::before{
  color: var(--aubergine);
}