.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2% 5%;
  background-color: var(--smoke-grey);
  color: var(--white);
}

.RegisterForm .inputGroup{
  display: flex;
  gap: 0.5rem;
}

.RegisterForm .inputGroup > label{
  width: 10%;
}

.RegisterForm .inputGroup > input{
  width: 100%;
  border: none;
  border-radius: 3px;
}

.RegisterForm > button{
  background-color: var(--green);
  color: var(--chalk-grey);
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.RegisterForm > button:hover{
  cursor: pointer;
  background-color: var(--light-green);
}