.jumbotron{
  width: 100%;
  height: 600px;
  /* offset-x | offset-y | blur-radius | color */
  /* box-shadow: 10px 5px 1rem black; */
  overflow: hidden;

}

.jumbotron img{
  object-fit: cover;
  object-position: -45rem;
}