.tag{
  display: inline-block;
  padding: 0.2rem  0.75rem 0.35rem 0.75rem;
  border-radius: 35pt;
  color: var(--white);
  margin-right: 1rem;
  transition: background-color 0.3s;
  background-color: var(--purple);
  /* margin-bottom: 1rem; */
}

.tag:hover{
  background-color: rgba(30, 201, 178, 0.5);
}