.DetailPage .BookCard{
  display: flex;
  padding: 5% 15%;
  gap: 5rem;
} 

.DetailPage .BookCard .image-wrapper{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.DetailPage .BookCard .image-wrapper img{
  max-height: 600px;
}

.DetailPage .BookCard .book-info h1{
  text-transform: uppercase;
  font-size: 4rem;
}

.DetailPage .BookCard .book-info h6{
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.DetailPage .BookCard .book-info p{
  text-align: justify;
}