.book-card{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 5% 15%;
  gap: 5rem;
}

.book-card .card-wrapper{
  display: flex;
  flex-direction: column;
}

.book-card .image-wrapper img{
  max-height: 600px;
  object-fit: contain;
}

.book-card .book-info h1{
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
}

.book-card .book-info h6{
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.book-card .book-info p{
  text-align: justify;
}

.book-info .score-wrapper{
  display: flex;
  justify-content: space-between;
}

.score-wrapper > div{
  max-width: 70%;
}