/* CATALOGUE */
.covers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 2rem;
  padding: 2%;
}

/* Contenedor individual de cada libro */
.covers .image-wrapper {
  width: 120px;  /* Ancho fijo para todos */
  height: 180px; /* Alto fijo para todos */
  overflow: hidden; 
  cursor: pointer;
  transition: transform 0.2s;
}

.covers .image-wrapper:hover {
  transform: scale(1.05);
}

/* La imagen dentro del contenedor */
.covers .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
