.section{
  padding: 2% 5%;
  background-color: var(--smoke-grey);
}

.section h1{
  color: var(--white);
  font-weight: 700;
  padding: 1% 0%;
}

.section p{
  color: var(--white);
}

.statistics{
  display: flex;
  flex-direction: column;
}

.charts{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--chalk-grey);
  padding: 2%;
  gap: 4rem;
  border-radius: 25px;

}

.charts .chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.chart h2, p{
  color: var(--white);
}