.navbar, #logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--chalk-grey);
}

.navbar ul{
  display: flex;
  margin-left: auto;
  margin-bottom: 0px;
}

.navbar ul li{
  list-style-type: none;
  padding: 0.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--white);
}

.logo-anchor{
  text-decoration: none;
}


.logout i{
  color: var(--white);
  cursor: pointer;
}