@import "tailwindcss";


/* Styles for tables */
table, thead, tbody, th, tr, td {
  border-collapse: collapse;
  border: 1px solid white;
  background-color: rgba(0, 122, 85, 1);
}

td {
  padding: 0.5em;
}


/* Styles for inputgroups and inputs */
.input-group{
  display: flex;
  width: 100%;
}

.input-group > label {
  width: 30%;
}

.input-group > input, select, textarea {
  width: 70%;
}

.input-group > textarea{
  margin-bottom: 1rem;
  scrollbar-width: thin;
}

fieldset{
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #27272a;
}