@import "tailwindcss";

/* Styles for tables */

table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table, thead, tbody, th, tr, td {
  border-collapse: collapse;
  border: 1px solid white;
  background-color: rgba(0, 122, 85, 1);
}

td {
  padding: 0.5em;
}


/* Styles for inputgroups and inputs */
.input-group{
  display: flex;
  width: 100%;
}

.input-group > label {
  width: 30%;
}

.input-group > input, select, textarea {
  width: 70%;
}

.input-group > textarea{
  margin-bottom: 1rem;
  scrollbar-width: thin;
}

fieldset{
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #27272a;
}

input[type="file"]{
  display: none;
}

.custom-input-file{
  margin-bottom: 1rem;
  display: inline-block;
  cursor: pointer;
}

.covers{
  aspect-ratio: 1600 / 2215;
}

dialog{
  background-color: #09090b;
  max-height: 90vh;
  scrollbar-width: none;
  width: 500px;
  max-width: 1000px;
  padding: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
  border: 1px solid;
  border-color: #007a55;
  box-shadow: 0 0 200px 10px #007a55;
}

dialog fieldset{
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.8rem;
  background-color: #27272a;
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.8);
}

.error, .success{
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.error {
  background-color: rgb(233, 98, 98);
  color: white;
}

.success{
  background-color: rgb(98, 233, 181);
  color: black;
}

input[type="color"]{
  padding: none;
  height: 4rem;
  width: 4rem;
}