:root {
  /* Fonts */
  font-family: "Lato", sans-serif;;
  line-height: 1.5;
  font-weight: 400;

    /* Dark theme */
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--smoke-grey);
  
  /* Colore scheme */
  --chalk-grey: #1A1A1A;
  --smoke-grey: #333333;
  --light-grey: #B3B3B3;
  --white: #FFFFFF;
  --green: #00A99D;
  --dark-green: #1C5350;
  --aubergine: #9E005D;
  --dark-aubergine: #491835;
  --gold-yellow: #FBB03B;
  --dark-gold-yellow: #332E25;

  /* Colors for tags */
  --pink: #D94ACF; 
  --purple: #772B8C; 
  --violet: #503FBF; 
  --dark-blue: #172573; 
  --electric-blue: #1D64F2; 
  --light-blue: #3abbdb; 
  --light-turquoise: #53B1C2; 
  --turquoise: #3bbba8; 
  --light-green: #6de6d3; 

  /* Colors for errors */
  --error: #b10707;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}