.bookdata{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.bookdata td{
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  border-collapse: collapse;
  border-color: rgba(0, 169, 157, 0.5);
  min-width: 10rem;
  padding: 2% 3%;
}

.bookdata i{
  margin-right: 0.5rem;
}

.bookdata td:nth-child(1){
  background-color: var(--green);
  border-color: rgba(255, 255, 255, 0.5);
  width: 20%;
}

.bookdata td:nth-child(2){
  text-align: right;
  width: 80%;
  transition: background-color 0.3s;
}

.bookdata td:nth-child(2):hover{
  background-color: rgba(0, 169, 157, 0.5);
}
